@import 'config';
@import 'menu';
* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: #fff;
  margin: 0;
  height: 100%;
  line-height: 1.5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

//headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  &.lg-heading {
    font-size: 5rem;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 5rem; //  height: 100%;
  min-height: calc(100vh - 60px);
  .icons {
    margin-top: 1rem;
    a {
      padding: 0.4rem;
      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

// menu
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  visibility: hidden;
  &.show {
    visibility: visible;
  }
  &-branding,
  &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }
  &-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    background: darken($primary-color, 5);
    transform: translate3d(0, -100%, 0);
    @include easeOut;
    &.show {
      transform: translate3d(0, 0, 0);
    }
  }
  &-branding {
    margin: 0;
    padding: 0;
    background: $primary-color;
    transform: translate3d(0, 100%, 0);
    @include easeOut;
    &.show {
      transform: translate3d(0, 0, 0);
    }
    .portrait {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      border: 3px solid $secondary-color;
      background: url(../../dist/img/portrait.jpg);
    }
  }
  .nav-item {
    transform: translate3d(600px, 0, 0);
    @include easeOut;
    &.show {
      transform: translate3d(0, 0, 0);
    }
    .current {
      color: $secondary-color;
    }
  }
  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    padding: 1rem 0;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    @include easeOut;
    &:hover {
      color: $secondary-color;
    }
  }
}

//delay for each item
@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}

//about
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bio-image bio bio' 'job1 job2 job3';
  grid-template-columns: repeat(3, 1fr);
}

.bio-image {
  grid-area: bio-image;
  margin: auto;
  border: 3px solid $secondary-color;
  border-radius: 50%;
}

.bio {
  grid-area: bio;
  font-size: 1.5rem;
}

.job1 {
  grid-area: job1;
}

.job2 {
  grid-area: job2;
}

.job3 {
  grid-area: job3;
}

.job {
  background: lighten($primary-color, 5);
  padding: 1rem;
  border-bottom: 3px solid $secondary-color;
}

//work/projects
.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);
  img {
    width: 100%;
    border: 3px solid #fff;
    &:hover {
      border: 3px solid $secondary-color;
      opacity: 0.5;
      @include easeOut;
    }
  }
}

//button sty;es
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
  }
}

.btn-dark {
  background: darken($primary-color, 50);
}

.btn-light {
  background: lighten($primary-color, 50);
  color: black;
}

//contact
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3rem;
  div {
    width: 500px;
    font-size: 1rem;
    border: 3px solid #fff;
    padding: 1.5rem 2.5rem;
    margin-bottom: 1rem;
    @include easeOut;
    &:hover {
      padding: 1rem 1.5rem;
      background: $secondary-color;
      color: darken($primary-color, 30);
      span {
        color: darken($primary-color, 30);
      }
    }
    span {
      color: $secondary-color;
    }
  }
}

footer {
  text-align: center;
  padding: 0.5rem;
  height: 60px;
  align-items: center;
  background: darken($primary-color, 10);
}

@import 'mobile';
